html {
  font-size: 10vw;
}
body {
  font-size: 12px;
}
p {
  margin: 0;
}
.vh100 {
  height: 100vh;
}
.bg {
  background: url(~@/assets/images/bg.png) no-repeat;
  // background-size: 100% 100%;
  background-size: cover;
}
.bg-1 {
  background-color: #21203c;
  background-image: url(~@/assets/images/bg-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.bg-2 {
  background-color: #21203c;
  background-image: url(~@/assets/images/bg-2.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.bg-3 {
  background-color: #21203c;
  background-image: url(~@/assets/images/bg-3.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.bg-blur {
  filter: blur(10px);
}
.van-nav-bar {
  background: transparent;
}
.van-nav-bar .van-icon {
  color: #fff;
  font-size: 19px;
}
.van-nav-bar__title {
  font-size: 19px;
  color: #fff;
  font-weight: 400;
}
.van-nav-bar__text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.van-nav-bar__text:active {
  background: transparent;
  opacity: 0.7;
}
.van-cell--clickable:active{
  background:transparent;
}
.van-nav-bar__right {
  .van-icon {
    font-size: 18px;
    color: #fff;
  }
}
.van-field__control {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.cb9 {
  color: #b9b9b9;
}
.fw400 {
  font-weight: 400;
}
.slide-enter-active,
.slide-leave-active {
  transition: opacity .5s ease;
}
.slide-leave-active,
.slide-leave-active {
  opacity: 0 !important;
}
.slide-enter,
.slide-leave-to {
  opacity: 0;
}
.van-tabbar {
  background: #161616;
}
.van-tab {
  font-size: 15px;
  color: #fff;
  line-height: 47px;
  &.van-tab--active {
    background-image: linear-gradient(#e95aa0, #a769ff);
    border-radius: 20px 20px 0 0;
    background-color: transparent;
  }
}
.van-tabs__nav {
  background: rgba(255, 255, 255, 0.2);
}
.van-tabs--line .van-tabs__wrap {
  height: 47px;
  margin: auto;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.van-search__content {
  background: rgba(255, 255, 255, 0.2);
}
.van-swipe__indicators {
  right: 9px;
  bottom: 9px;
  left: unset;
  transform: unset;
}
.fw500 {
  font-weight: 500;
}
.mt38 {
  margin-top: 38px;
}
.reg,
.login,
.forget-pwd {
  .btn {
    width: 305px;
    height: 50px;
    background: linear-gradient(
      90deg,
      rgba(232, 86, 157, 1) 0%,
      rgba(147, 72, 255, 1) 100%
    );
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    margin-top: 10px;
    &:active {
      opacity: 0.7;
    }
  }

  .van-cell:not(:last-child)::after {
    border: none;
  }
  .van-cell {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
  }
  .van-checkbox__label {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
  }
  .van-checkbox__icon {
    font-size: 16px;
  }
  .vcode-btn {
    border: none;
    color: #e8569d;
    font-size: 15px;
    font-weight: 400;
    background: transparent;
  }
}
.van-overlay {
  position: absolute;
}
.van-multi-ellipsis--l4 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
